#environment

API_ID=1234567 #Your Api Id from http://my.telegram.org
API_HASH=1ab2cd3zb4cd5ab6cd7ab8cd #Your Api Hash from http://my.telegram.org
SESSION= #Mandatory on Heroku. Your session from running the string session repl or session.py locally
COMMAND_HANDLER=\. #Your command handler
LOGGER_ID=-12345678 #Logger group Id. create a private group and paste the id here.
ALIVE_NAME=Zycho-Dev #Your name
ALIVE_PIC=https://telegra.ph/file/8556d3d40980c6718e864.png #A telegraph link of your custom alive pic
